.section {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 10px;

    width: 80vw;
    padding: 10px;
}
.info {
    background-color: rgba(180, 182, 182, 0.036);

    padding: 10px;
}
.title {
    font-size: 20px;
    color: black;
}
.subtitle {
    font-size: 15px;
    font-weight: 300;

    color: grey;
    background-color: white;

    padding: 3px;
   
}
