.item {
  display: flex;
  align-items: center;
  min-width: 150px;
  padding: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.item:not(:last-child) {
  margin-bottom: 8px;
}
.status {
  display: block;
  height: 10px;
  width: 10px;
  margin-right: 10px;
  border-radius: 50%;
}
.avatar {
  margin-right: 10px;
  border-radius: 5px;
}
.name {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.647);
}
